.filter-container {
  @include borderStyle;
  width: 30%;
  height: 195px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  @include column-center-flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  label {
    font-size: 1.5em;
  }

  select {
    @include borderStyle;
    height: 30px;
    width: 33%;
    font-size: 1em;
  }


  button {
    width: 34%;
    font-size: 1.5em;
    height: 39px;
    @include borderStyle;
    @include buttonsOrHeadings;
    color: black;
  }


}
